.div-cadastro {
    position: relative;
}

span {
    position: absolute;
    left: 0;
    top: 4.5rem; 
    cursor: pointer;
}

span:hover {
    transition: .2s;
    background-color: #c0c0c0;
    border-radius: 50%;
}

h2 {
    font-size: 3rem; 
}

.btn-green {
    background-color: #a6ce39ff;
}

button:hover {
    transition: .2s;
    opacity: .7;
    scale: 105%;
}

p {
    color: #283259ff;
}
