h2 {
    color: #283259;
}

ul {
    list-style-type: none;
}

button {
    background-color: #a6ce39ff;
}

button:hover {
    transition: .2s;
    opacity: .7;
    background-color: #a6ce39ff;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    transition: .2s;
    scale: 105%;
    background-color: #283259ff;
}