<div class="col-12">
    <app-header [lastRoute]="this.lastRoute"></app-header>
    <div class="col-12">
        <h2 class="text-center py-3 fs-1">{{this.turma.nome}}</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">
                <p class="fs-5">Faculdade: {{this.turma.universidade}}</p>
            </li>
            <li class="list-group-item border-0">
                <p class="fs-5">Formando: formando</p>
            </li>
            <li class="list-group-item border-0">
                <p class="fs-5">Data do evento: data</p>
            </li>
            <li class="list-group-item border-0">
                <p class="fs-5">Número de convidados: 999</p>
            </li>
        </ul>
    </div>
</div>