<div class="col-12 border p-3 my-3">
    <div class="col-12 d-flex">
        <div class="col-8">
            <h2 class="fs-1">{{ this.turma.nome }}</h2>
            <p class="text-secondary">{{ this.turma.cidade }} - {{ this.turma.estado?.sigla ? this.turma.estado?.sigla : 'UF' }}</p>
            <p class="fw-bold">{{ this.turma.universidade }}</p>
        </div>
        <div class="col-4">
            <div class="image rounded p-5"></div>
        </div>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-around">
        <button class="btn col-5 text-light fw-bold bg-primary">Ver Turma</button>
        <button class="btn col-5 px-2 fw-bold text-light">Solicitar Convite</button>
    </div>
</div>