<div class="col-12">
    <app-header [usuarioId]="this.usuarioId"></app-header>
    <div class="col-10 m-auto">
        <div class="col-12 pt-4">
            <input type="text" placeholder="Ache sua turma aqui"
                class="border-0 border-bottom col-10 p-2 fw-bold">
            <span class="ps-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search fw-bold text-secondary" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
            </span>
        </div>
        <div class="col-12 pt-3"
            *ngIf="this.turmas.length > 0">
            <app-turma-card *ngFor="let turma of this.turmas" 
                [turma]="turma"
                [usuarioId]="this.usuarioId"></app-turma-card>
        </div>
        <p *ngIf="this.turmas.length < 1"
            class="pt-4 text-center text-secondary fw-bold fst-italic">Nenhum sala disponível, peça a sua comissão para cadastrar uma!</p>
    </div>
</div>